In [8]:
import sqlite3

with sqlite3.connect("roster.db") as connection:

    cursor = connection.cursor()
    query= "create Table Roster(Name text,Species text,age integer);"
    data=cursor.execute(query)

In [21]:
with sqlite3.connect("roster.db") as connection:
    cursor = connection.cursor()
    query = "insert into Roster(Name, Species, age) values ('Benjamin Sisko','Human',40),('Jadzia Dax','Trill',300),('Kira Nerys','Bajoran',29)"
    data=cursor.execute(query)

In [22]:
with sqlite3.connect("roster.db") as connection:
    cursor = connection.cursor()
    query = "select * from Roster; update "
    cursor.execute(query)

In [35]:
with sqlite3.connect("roster.db") as connection:
    cursor = connection.cursor()
    query = "select Name, age from Roster where species ='Human'"
    data = cursor.execute(query)
data.fetchall()

[('Benjamin', 40),
 ('Benjamin', 40),
 ('Benjamin', 40),
 ('Benjamin Sisko', 40),
 ('Benjamin Sisko', 40)]

In [48]:
with sqlite3.connect("roster.db") as connection:
    cursor = connection.cursor()
    query = "delete from Roster where age > 100"
    cursor.execute(query)
    connection.commit()

In [45]:

with sqlite3.connect("roster.db") as connection:
    cursor = connection.cursor()
    # cursor.execute("ALTER TABLE ROSTER ADD column Rank text")
    cursor.execute("UPDATE Roster SET Rank='Captain' WHERE name = 'Benjamin Sisko'")
    cursor.execute("UPDATE Roster SET Rank='Major' WHERE name = 'Kira Nerys'")
    cursor.execute("UPDATE Roster SET Rank='Leutinant' WHERE name = 'Jadzia Dax'")

In [47]:
with sqlite3.connect("roster.db") as connection:
    cursor = connection.cursor()
    cursor.execute("select * from Roster order by age desc")
data = cursor.fetchall()
print(data)

[('Jadzia Dax', 'Trill', 300, 'Leutinant'), ('Jadzia Dax', 'Trill', 300, 'Leutinant'), ('Benjamin', 'Human', 40, None), ('Benjamin', 'Human', 40, None), ('Benjamin', 'Human', 40, None), ('Benjamin Sisko', 'Human', 40, 'Captain'), ('Benjamin Sisko', 'Human', 40, 'Captain'), ('Kira Nerys', 'Bajoran', 29, 'Major')]

In [49]:

with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    cursor.execute("Create table Books(Title text, Author text,Year_published integer, Genre text);")

In [50]:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    cursor.execute("insert into Books values ('to kill a mockingbird', 'Harper Lee',1960,'Fiction'),('1984','George Orwell', 1949,'Dysotopian'),('The Great Getsby','F. Scott Fitzgerald',1925,'Classic');")

In [51]:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    cursor.execute("UPDATE Books Set Year_published=1950 where Title = '1984';")

In [52]:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    cursor.execute("Select Title, Author from Books where Genre='Dysotopian';")
    data = cursor.fetchall()
print(data)

[('1984', 'George Orwell')]

In [53]:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    cursor.execute("Delete from Books where Year_published < 1950;")
    connection.commit()

In [54]:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    cursor.execute("Alter table Books add column Rating float;")

In [55]:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    cursor.execute("Update Books set Rating =4.8 where title = 'to kill a mockingbird';")
    cursor.execute ("Update Books set Rating  = 4.7 where title = '1984';")
    cursor.execute ("Update Books set Rating  = 4.5 where title = 'The Great Getsby';")

In [56]:
with sqlite3.connect("library.db") as connection:
    cursor = connection.cursor()
    cursor.execute("Select * from Books order by year_published asc ;")
    data = cursor.fetchall()
print(data)

[('1984', 'George Orwell', 1950, 'Dysotopian', 4.7), ('to kill a mockingbird', 'Harper Lee', 1960, 'Fiction', 4.8)]