In [2]:
def convert_cel_to_far(cel):
    return cel * 1.8 + 32
def convert_far_to_cel(fare):
    return (fare-32)*5/9

print(f"Enter a temperature in degrees F:")
fare = float(input())
print(f"{fare} degrees F = {convert_far_to_cel(fare):.2f} degrees Celsius")

print(f"Enter a temperature in degrees C:")
cel = float(input())
print(f"{cel} degrees C = {convert_cel_to_far(cel):.2f} degrees F")

Enter a temperature in degrees F:
72.0 degrees F = 22.22 degrees Celsius
Enter a temperature in degrees C:
37.0 degrees C = 98.60 degrees F

In [6]:
def invest(amount, rate, years):
    for year in range(1,years+1):
        final=amount*(1+rate)**year
        print(f"year {year}: {final:.2f}")
invest(100, 0.05, 4)

year 1: 105.00
year 2: 110.25
year 3: 115.76
year 4: 121.55

In [7]:
def factor(n):
    for i in range(1,n+1):
        if n%i==0:
            print(f"{i} is a factor of {n}")
factor(36)

1 is a factor of 36
2 is a factor of 36
3 is a factor of 36
4 is a factor of 36
6 is a factor of 36
9 is a factor of 36
12 is a factor of 36
18 is a factor of 36
36 is a factor of 36

In [11]:
def is_prime(n):
    if n<2:
        return False
    for i in range(2,n):
        if n%i==0:
            return False
        else:
            return True
is_prime(17)

True

In [33]:
def enrollment_stats(list):
    students_enrolled=[]
    tuitionfee=[]
    for x in range(len(list)):
        students_enrolled.append(list[x][1])
        tuitionfee.append(list[x][2])
    return students_enrolled, tuitionfee
def mean(list):
    return sum(list)/len(list)
def median(list):
    if len(list)>1:
        return sorted(list)[len(list)//2]
    else:
        return list[0]

universities = [
    ['California Institute of Technology', 2175, 37704],
    ['Harvard', 19627, 39849],
    ['Massachusetts Institute of Technology', 10566, 40732],
    ['Princeton', 7802, 37000],
    ['Rice', 5879, 35551],
    ['Stanford', 19535, 40569],
    ['Yale', 11701, 40500]
]
print(f"Total Students: {sum(enrollment_stats(universities)[0])}")
print(f"Total Tuition: ${sum(enrollment_stats(universities)[1])}")
print(f"Students mean: {mean(enrollment_stats(universities)[0]):.2}")
print(f"Students median: {median(enrollment_stats(universities)[0]):.2f}")
print(f"Tuition mean: ${mean(enrollment_stats(universities)[1]):.2f}")
print(f"Tuition median: ${median(enrollment_stats(universities)[1]):.2f}")

Total Students: 77285
Total Tuition: $271905
Students mean: 1.1e+04
Students median: 10566.00
Tuition mean: $38843.57
Tuition median: $39849.00